<!-- Header -->
  <link rel="stylesheet" type="text/css" href="/css/fullblog.css">

<header class="w3-container w3-center w3-padding-32">
  <h1><b>Java and Node.js Blog</b></h1>
  <p>Welcome to the blog of S H U B H A M</p>
  <p>
  		<a href="https://www.linkedin.com/in/shubhamyeole" target="_blank">
  			<img src="../../images/linkedin.jpg"  width="22" height="22" /></a>
		<a href="https://github.com/shubham20yeole" target="_blank">
			<img src="../../images/github.jpg"  width="22" height="22" /></a>
		<a href="https://www.facebook.com/sy06736n" target="_blank">
			<img src="../../images/fb.jpg"  width="22" height="22" /></a>
		<a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank">
			<img src="../../images/stackoverflow.jpg"  width="22" height="22" /></a>
  </p>
</header>

<!-- Grid -->
<div class="w3-row">
<div id="tabs">
  <ul class="header">
    <li><a href="/dashboard"><span>Home</span></a></li>
    <li><a href="/blog"><span>New Post</span></a></li>
    <li><a href="/clients"><span>Clients</span></a></li>
    <li><a href="/blog"><span>Post Blog</span></a></li>
    <li style="float: right"><a href="/logout/"><span>L O G O U T</span></a></li>
  </ul>
</div>